<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Ebook
            </h1>
            <p class="lead">learn web development front to back</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="your_stripe_published_key" data-amount="2500" data-name="Web Development Ebook"
                    data-description="Ebook written by Mohammad Qaderi" data-image="/img/profile.jpg"
                    data-locale="auto">
                    </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>

                <!-- custom script button --> 
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Place Order  Total: $100.20</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/book.png" alt="" class="img-fluid">
        </div>
    </div>
</section>